/* Store CSS Styles that are not required immedietly here */

.inventory-update {
	color: lime;
}

/*#region Loan */
.loan-header {
    color: coral;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

.bitcoin-status, .bitcoin-exchange {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}
.bitcoin-status {
	color: orange;
    margin-bottom: 0;
}
.bitcoin-exchange {
	color: turquoise;
}
@keyframes loan-header-blink {
	0% { color: coral; }
	49.9% { color: coral; }
	50% { color: red; }
	100% { color: red; }
}
.loan-header-low {
    animation: loan-header-blink 0.8s linear 0s infinite;
}
/*#endregion*/

/*#region Ending Screen */
.ending-status {
    text-align: center;
    font-size: 20px;
    color: aquamarine;
}

.ending-square {
    background: #222;
    padding: 1em;
    margin-bottom: 10px;
}
.ending-square-title {
    font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.ending-square-desc {
    margin-top: 10px;
}
.ending-square-status {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.status-yes {
    color: greenyellow;
}
.status-no {
    color: red;
}

.stick-ending-status {
    position: sticky;
    top: 0px;
    padding: 12px 0;
    background: rgb(22,22,22);
    z-index: 10;
    box-shadow: 0 0px 10px 10px rgb(22,22,22);
}

@keyframes ending-header-blink {
	0% { color: aquamarine; }
	49.9% { color: aquamarine; }
	50% { color: skyblue; }
	100% { color: skyblue; }
}
.ending-header {
	color: aquamarine;
}
.ending-header.flash {
	animation: ending-header-blink 0.65s linear 0s infinite;
}
/*#endregion*/

/*#region Text FX*/
@keyframes rainbow {
    0% {
        color: red;
    }
    10% {
        color: orange;
    }   
    30% {
        color: yellow;
    }
    40% {
        color: greenyellow;
    }
    55% {
        color: aqua;
    }
    70% {
        color: blue;
    }
    90% {
        color: magenta;
    }
    100% {
        color: red;
    }
}
@keyframes flashyyy {
    0% {
		opacity: 0.35;
    }
    50% {
		opacity: 0.95;
    }
    100% {
		opacity: 0.35;
    }
}

@keyframes circle {
	0% {top: 0.000px; left: 5.000px}
	1% {top: 0.314px; left: 4.990px}
	2% {top: 0.627px; left: 4.961px}
	3% {top: 0.937px; left: 4.911px}
	4% {top: 1.243px; left: 4.843px}
	5% {top: 1.545px; left: 4.755px}
	6% {top: 1.841px; left: 4.649px}
	7% {top: 2.129px; left: 4.524px}
	8% {top: 2.409px; left: 4.382px}
	9% {top: 2.679px; left: 4.222px}
	10% {top: 2.939px; left: 4.045px}
	11% {top: 3.187px; left: 3.853px}
	12% {top: 3.423px; left: 3.645px}
	13% {top: 3.645px; left: 3.423px}
	14% {top: 3.853px; left: 3.187px}
	15% {top: 4.045px; left: 2.939px}
	16% {top: 4.222px; left: 2.679px}
	17% {top: 4.382px; left: 2.409px}
	18% {top: 4.524px; left: 2.129px}
	19% {top: 4.649px; left: 1.841px}
	20% {top: 4.755px; left: 1.545px}
	21% {top: 4.843px; left: 1.243px}
	22% {top: 4.911px; left: 0.937px}
	23% {top: 4.961px; left: 0.627px}
	24% {top: 4.990px; left: 0.314px}
	25% {top: 5.000px; left: 0.000px}
	26% {top: 4.990px; left: -0.314px}
	27% {top: 4.961px; left: -0.627px}
	28% {top: 4.911px; left: -0.937px}
	29% {top: 4.843px; left: -1.243px}
	30% {top: 4.755px; left: -1.545px}
	31% {top: 4.649px; left: -1.841px}
	32% {top: 4.524px; left: -2.129px}
	33% {top: 4.382px; left: -2.409px}
	34% {top: 4.222px; left: -2.679px}
	35% {top: 4.045px; left: -2.939px}
	36% {top: 3.853px; left: -3.187px}
	37% {top: 3.645px; left: -3.423px}
	38% {top: 3.423px; left: -3.645px}
	39% {top: 3.187px; left: -3.853px}
	40% {top: 2.939px; left: -4.045px}
	41% {top: 2.679px; left: -4.222px}
	42% {top: 2.409px; left: -4.382px}
	43% {top: 2.129px; left: -4.524px}
	44% {top: 1.841px; left: -4.649px}
	45% {top: 1.545px; left: -4.755px}
	46% {top: 1.243px; left: -4.843px}
	47% {top: 0.937px; left: -4.911px}
	48% {top: 0.627px; left: -4.961px}
	49% {top: 0.314px; left: -4.990px}
	50% {top: 0.000px; left: -5.000px}
	51% {top: -0.314px; left: -4.990px}
	52% {top: -0.627px; left: -4.961px}
	53% {top: -0.937px; left: -4.911px}
	54% {top: -1.243px; left: -4.843px}
	55% {top: -1.545px; left: -4.755px}
	56% {top: -1.841px; left: -4.649px}
	57% {top: -2.129px; left: -4.524px}
	58% {top: -2.409px; left: -4.382px}
	59% {top: -2.679px; left: -4.222px}
	60% {top: -2.939px; left: -4.045px}
	61% {top: -3.187px; left: -3.853px}
	62% {top: -3.423px; left: -3.645px}
	63% {top: -3.645px; left: -3.423px}
	64% {top: -3.853px; left: -3.187px}
	65% {top: -4.045px; left: -2.939px}
	66% {top: -4.222px; left: -2.679px}
	67% {top: -4.382px; left: -2.409px}
	68% {top: -4.524px; left: -2.129px}
	69% {top: -4.649px; left: -1.841px}
	70% {top: -4.755px; left: -1.545px}
	71% {top: -4.843px; left: -1.243px}
	72% {top: -4.911px; left: -0.937px}
	73% {top: -4.961px; left: -0.627px}
	74% {top: -4.990px; left: -0.314px}
	75% {top: -5.000px; left: -0.000px}
	76% {top: -4.990px; left: 0.314px}
	77% {top: -4.961px; left: 0.627px}
	78% {top: -4.911px; left: 0.937px}
	79% {top: -4.843px; left: 1.243px}
	80% {top: -4.755px; left: 1.545px}
	81% {top: -4.649px; left: 1.841px}
	82% {top: -4.524px; left: 2.129px}
	83% {top: -4.382px; left: 2.409px}
	84% {top: -4.222px; left: 2.679px}
	85% {top: -4.045px; left: 2.939px}
	86% {top: -3.853px; left: 3.187px}
	87% {top: -3.645px; left: 3.423px}
	88% {top: -3.423px; left: 3.645px}
	89% {top: -3.187px; left: 3.853px}
	90% {top: -2.939px; left: 4.045px}
	91% {top: -2.679px; left: 4.222px}
	92% {top: -2.409px; left: 4.382px}
	93% {top: -2.129px; left: 4.524px}
	94% {top: -1.841px; left: 4.649px}
	95% {top: -1.545px; left: 4.755px}
	96% {top: -1.243px; left: 4.843px}
	97% {top: -0.937px; left: 4.911px}
	98% {top: -0.627px; left: 4.961px}
	99% {top: -0.314px; left: 4.990px}
	100% {top: -0.000px; left: 5.000px}
}

.circley-container {
	margin-left: 5px;
	margin-right: 5px;
}

.rainbow {
    animation: rainbow 1s linear 0s infinite;
}

.flashyyy {
    animation: flashyyy 1s linear 0s infinite;
}

.circly {
	left: -5px;
    position: relative;	
    animation: circle 1s linear 0s infinite;
}

.rainbow.circly {
    animation: rainbow 1s linear 0s infinite, circle 1s linear 0s infinite;
}

@keyframes gradient-green { 
	0% {color: rgb(0, 255, 0);}
	50% {color: rgb(0, 98, 0)}
	100% {color: rgb(0, 255, 0);}
}

.gradient-green {
	font-weight: 900;
	animation: gradient-green 0.8s infinite;

}

@keyframes police { 
	0% {color: rgb(255, 0, 0);}
	50% {color: rgb(38, 0, 255)}
	100% {color: rgb(255, 0, 0);}
}

.police {
	font-weight: 900;
	animation: police 0.5s infinite;

}
/*#endregion*/

/*#region*/
/*#endregion*/
