* {box-sizing: border-box;}

body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 500px;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color: #6495ed;
}

a:not(:hover) {
    text-decoration: none;
}

.option-disabled {
    color: #444;
}
.option-broken-link {
    color: #f53838;
}

.option-seperator {
    height: 20px;
}

.credit {
    color: grey;
    font-size: 75%;
}

.playAgain {
    position: relative;
    top: 8px;
    font-weight: bold;
    font-size: 36px
}

.loan-header {
    color: coral;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}
@keyframes loan-header-blink {
	0% { color: coral; }
	49.9% { color: coral; }
	50% { color: red; }
	100% { color: red; }
}
.loan-header-low {
    animation: loan-header-blink 0.8s linear 0s infinite;
}

.ending-status {
    text-align: center;
    font-size: 20px;
    color: aquamarine;
}

.ending-square {
    background: #222;
    padding: 1em;
    margin-bottom: 10px;
}
.ending-square-title {
    font-weight: bold;
    font-size: 25px;
}
.ending-square-desc {
    margin-top: 10px;
}
.ending-square-status {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.status-yes {
    color: greenyellow;
}
.status-no {
    color: red;
}
